body{
  background-color: #303a3e;
}
.featured1{
  color: white;
  border-bottom-style: dashed;
  text-align: center;
}
.featured1-image{
  background-size: contain;
}
#more-jumbotron{
  text-align: center;
}
